<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" value="width=device-width, intial-scale=1" />
  <link rel="stylesheet" type="text/css" href="style.css" />

  <!-- // Development firebase library -->
  <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

  <!-- // VueJS development library -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Alfred</title>
</head>

<body>
  <div class="root">
    <header>
    </header>

    <nav id="navbar">
      <nav-item v-for="link in links" v-bind:link="link" v-bind:key="link.text">
      </nav-item>
    </nav>
    <aside id="left-panel" class="side-panel">
      <section id="calendar-panel">
        <div id="calendar-container">
          Google Calendar API
        </div>
      </section>
      <section id="menu-panel">
        <div id="menu">
          <menu-item v-for="label in labels" v-bind:label="label" v-bind:key="label">
          </menu-item>
      </section>
    </aside>
    <main>
      <div></div>
    </main>
    <aside id="right-panel" class="side-panel">
      <article>
        <button id="authorize-button">Signin</button>
      </article>
      <article>
        <button id="signout-button">SignOut</button>
      </article>
      <article>News</article>
      <article>News</article>
      <article>News</article>
      <article>News</article>
    </aside>

    <footer></footer>
  </div>
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="app.js"></script>

</body>

</html>